.banner-container {
    background-color: #f8f8f8; /* Add your desired background color */
    padding: 50px 0;
}

.banner-content {
    text-align: center;
    color: #333; /* Text color */
}

.banner-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-button {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.banner-button:hover {
    background-color: #0056b3;
}
